/*.button_blue_anim { display:inline-block; height:26px; background:url(/img/login_register_form/sl_animate_button.gif) 0 -173px; border-radius:13px; padding:0 2em 0 2em; line-height:26px; color:#fff !important; border:2px solid #b9e3ff; font-size:1.167em; text-decoration:none;}*/

.button_disabled {background:url(../../img/login_register_form/sl.png) 0 -237px; color:#ddd !important; border:2px solid #ccc;}

.font_gray { color:#818181;}
a.font_gray { color:#818181;}
.font_black { color:#000 !important;}
/* ���� ����������� */

.popup_register { left: -49px; width: 550px; background: #fff; position: absolute; top: 13px; z-index: 448; }

/*.rg_closed { display:block; height:16px; width:17px; overflow:hidden; font-size:0px; background:url(/img/login_register_form/sl.png) no-repeat 0 -103px; position:absolute; right:6px; top:6px; cursor:pointer;}*//*.rg_closed { display:block; height:16px; width:17px; overflow:hidden; font-size:0px; background:url(/img/login_register_form/sl.png) no-repeat 0 -103px; position:absolute; right:6px; top:6px; cursor:pointer;}*/
.rg_closed { display:none;}
/*.rg_block_options { padding:0.883em;}*/
.rg_description { padding:2em 0.6em 1em; font-size:1.167em; color:#636363; line-height:1.167em;}

.rg_errors { padding:2em 1em 1em 1em; font-size:1.167em; color:#333; line-height:1.5em;}

/*.pswd_attention {display: none; font-size: 13px;position: absolute;width: 285px; margin: 6px 0 0 25px;}*/
.pswd_attention {display: none; font-size: 13px;position: absolute;width: 300px; padding: 6px 0 10px 0; left:5px;}
.input-alien  {padding-top: 25px;}
.icon_attention {background:url(../../img/login_register_form/attention.png); width: 16px; height: 18px; display: inline-block; vertical-align: middle;margin: 0 5px 1px 0;}

.rg_input_text_mail { width:180px; height:20px; margin:0; padding:0; border:1px solid #b4b4b4; color:#b4b4b4; padding-left:0.5em; margin-top:3px;}
.rg_for_input_conf {color:#636363; font-size:1.083em; margin-left:0.55em; min-height:28px; padding-bottom:0.75em; position:relative;}
.rg_input_text_conf {border:1px solid #CBCBCB; height:26px; line-height:26px; padding:0 0.25em; width:255px; }
.text_algn_center { text-align:center; padding-bottom:20px;}
.rg_butons_socials { width:135px; float:left;}
.rg_butons_socials .rg_btn_soc { display:block; height:28px; width:116px; background:url(../../img/login_register_form/sl_btn.png) no-repeat 0 -0px; margin-bottom:11px; font-size:1.167em; color:#3371a1;}
.rg_butons_socials .rg_btn_soc span { display:block; height:28px; width:118px; background:url(../../img/login_register_form/sl_btn.png) no-repeat right -29px; line-height:28px;}
.rg_butons_socials .rg_btn_soc i { display:inline-block; width:37px; height:18px; background:url(../../img/login_register_form/sl.png) no-repeat 0; margin-top:5px; float:left;}
.rg_butons_socials .rg_btn_soc.rg_bs_active { background-position:0 -58px; color:#000;}
.rg_butons_socials .rg_btn_soc.rg_bs_active span { background-position:right -87px;}
.rg_butons_socials .rg_btn_soc:hover { background-position:0 -58px; color:#000;}
.rg_butons_socials .rg_btn_soc:hover span { background-position:right -87px;}
.rg_butons_socials .rg_btn_soc.rg_bs_01 i { background-position:12px -2px;}
.rg_butons_socials .rg_btn_soc.rg_bs_02 i { background-position:12px -20px;}
.rg_butons_socials .rg_btn_soc.rg_bs_03 i { background-position:12px -40px;}
.rg_butons_socials .rg_btn_soc.rg_bs_04 i { background-position:12px -61px;}
.rg_butons_socials .rg_btn_soc.rg_bs_05 i { background-position:12px -81px;}
.rg_forms { margin-left:136px;}
.rg_forms.confirm_code_from_letter { width: auto; border: 0;}
.rg_forms.confirm_from_letter { margin-left: 10px;}
.rg_forms.confirm_from_letter button { display: block; margin-top: 5px;}
.rg_forms.confirm_from_letter .rg_for_input { margin-left: 0; padding-bottom: 0; }
.rg_forms.confirm_from_letter .rg_for_input .rg_inp_descr { text-align: left; position: static; }
.rg_forms.confirm_from_letter .rg_for_input .rg_input_text_conf { background: #f5f5f5; border: 1px solid #bebebe; display: block; max-width: 500px; height: 35px; width: 100%;  margin: 5px 0 10px; text-indent: 10px; }


.rg_for_input { min-height:28px; padding-bottom:0.75em; margin-left:6em; position:relative; font-size:1.083em; color:#636363;}
.reg_error { display:block; font-size:1.167em; color:#e23333; padding-bottom:0.333em; }
#reg_msg_soc.reg_error { padding-top: 10px;}
.rg_for_input.rg_font_black { color:#000;}
.rg_for_input .rg_inp_descr { font-size:1.167em; }
.rg_for_input .rg_input_text { height:26px; padding:0; line-height:26px; border:1px solid #cbcbcb; padding:0 0.25em 0 0.25em; width:255px;}
.rg_for_input a.forgot_pass { display: block; text-align: center;  font-size: 13px;      color: #c31e2f;     margin-top: 15px;}
.rg_for_input a.forgot_pass:hover { text-decoration:none;}
.hidde_this { display:none;}
.shere_to_socials { padding:1em 0 0 0;}
.shere_to_socials a { display:inline-block; background:url(http://subscribe.ru/css//img/login_register_form/clip/slb.png) no-repeat; margin-right:28px; vertical-align:middle;}
.shere_to_socials .shts_01 { height:22px; width:93px; background-position:0 -245px;}
.shere_to_socials .shts_02 { height:18px; width:60px; background-position:0 -268px;}
.shere_to_socials .shts_03 { height:20px; width:51px; background-position:0 -434px;}
.shere_to_socials .shts_04 { height:20px; width:55px; background-position:0 -288px;}
.gray_bg { position:fixed; top:0; left:0; right:0; bottom:0; background:#e2e2e2; z-index:290; opacity:0.5;}



/* ����� ��� �������� */
.sbs_popup { width:616px; position:absolute; left:50%; margin-left:-308px; border-radius:10px; background:#fff; z-index:300; padding:10px; top:140px; display:_none;}
.sbs_shadow { display:_none;}
.sbs_closed { display:block; height:16px; width:17px; overflow:hidden; font-size:0px; background:url(../../img/login_register_form/sl.png) no-repeat 0 -103px; position:absolute; right:6px; top:6px; cursor:pointer;}
.sbs_popup h3 { font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000; padding-top:0.5em; padding-left:1.667em;}
.sbs_popup p { color:#818181; font-size:1.167em; padding:0.5em 0em 0.5em 2em; line-height:1.25em;}
.sbs_two_col { margin-right:-10px;}
.sbs_two_col_item { width:275px; float:left; background:#e5eaeb; margin-right:10px; padding-left:28px; padding-bottom:1.75em; padding-top:0.5em; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; height:125px;}
.sbs_two_col_item .input_text { border:1px solid #c2c2c2; width:200px; height:18px; padding-left:7px;}
.sbs_two_col_item h5 { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; padding:0.5em 0 0.5em 0;}
.sbs_two_col_item input { font-size:1.167em;}
.sbs_send_mail { margin-bottom:0.333em; font-size:1.167em;}
.sbs_popup h4 { padding-left:2em; font-family:Arial, Helvetica, sans-serif; font-size:1.167em; font-weight:bold; color:#636363; padding-top:0.75em; padding-bottom:0.75em;}
.sbs_select_three { margin-left:2em;}
.sbs_select_three_item { float:left; width:33.3%;}
.sbs_select_three_item span , .sbs_two_item span{ display:block; padding-bottom:0.75em; position:relative; padding-left:22px;}
.sbs_select_three_item span input , .sbs_two_item span input { vertical-align:middle; position:absolute; left:4px; top:2px;}
.sbs_two { padding-left:2em;}
.sbs_two_item { float:left; width:45%; padding-right:5%;}

body#doble_bg { min-height:100%; background:url(../../img/login_register_form/bg_reg.gif) repeat-y center;}
/* clear margin padding*/
.clr_pt { padding-top:0 !important;}
.clr_pb { padding-bottom:0 !important;}
.clr_pl { padding-left:0 !important;}
.clr_pr { padding-right:0 !important;}
.clr_mt { margin-top:0 !important;}
.clr_mb { margin-bottom:0 !important;}
.clr_ml { margin-left:0 !important;}
.clr_mr { margin-right:0 !important;}
/* font color */
.f_red { color:#cd0000;} 
.f_gray { color:#636363;}
.f_black { color:#000 !important;}
.box_bg { min-width:1050px; max-width:1500px; min-height:100%; margin:0 auto; height:100%}
.box_bg .left { margin-right:320px; min-height:100%; background:#fff; padding-left:55px;}
.box_bg .right { width:285px; float:right; padding-top:15em;}
/* buttons */
.btn_gray_01 { height:33px; background:url(../../img/login_register_form/sl_btn.png) repeat-x 0 -117px; display:inline-block; padding-left:1.5em; padding-right:1.5em; line-height:33px; border-radius:16px; border:2px solid #e5e5e5; font-family:Arial, Helvetica, sans-serif; font-size:1.167em; color:#727373; text-decoration:none; font-weight:bold;}
.btn_gray_02 { height:33px; background:url(../../img/login_register_form/sl_btn.png) repeat-x 0 -416px; display:inline-block; padding-left:1.5em; padding-right:1.5em; line-height:33px; border-radius:16px; border:2px solid #e5e5e5; font-family:Arial, Helvetica, sans-serif; font-size:1.167em; color:#fff; text-decoration:none;}


.box_bg .left h1 { padding-top:1.75em;}
.box_bg h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.833em; padding:0.5em 0 0.5em 0;}
.box_bg .left h3 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.167em; padding:0.25em 0 0.25em 0;}
.box_bg .left p { font-size:1.167em; color:#636363; padding:0.5em 0 0.5em 0;}

/*main_left_nav*/
.main_left_nav { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.5em; list-style:none;}
/* vajen .main_left_nav li { background:url(/img/login_register_form/nav_sl.png) no-repeat; position:relative; margin-left:25px;}*/
.main_left_nav li label { color:#d83d24; line-height:1.5em; padding-left:31px;}
.main_left_nav li label input { position:absolute; left:-25px; top:7px;}
.main_left_nav li.mln_01 { background-position:0 3px;}
.main_left_nav li.mln_02 { background-position:0 -24px;}
.main_left_nav li.mln_03 { background-position:0 -52px;}
.main_left_nav li.mln_04 { background-position:0 -80px;}
.main_left_nav li.mln_05 { background-position:0 -107px;}
.main_left_nav li.mln_06 { background-position:0 -135px;}
.main_left_nav li.mln_07 { background-position:0 -160px;}
.main_left_nav li.mln_08 { background-position:0 -188px;}
.main_left_nav li.mln_09 { background-position:0 -216px;}
.main_left_nav li.mln_10 { background-position:0 -243px;}
.main_left_nav li.mln_11 { background-position:0 -273px;}
.main_left_nav li.mln_12 { background-position:0 -300px;}
.main_left_nav li.mln_13 { background-position:0 -327px;}
.main_left_nav li.mln_14 { background-position:0 -354px;}

.right h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.5em;}
.right .right_sel { list-style:none; font-size:1.167em; padding-top:0.75em; padding-bottom:1.5em;}
.right .right_sel li { position:relative; padding-left:20px; padding-bottom:0.583em;}
.right .right_sel li input { position:absolute; left:0; top:1px;}
.right .rsel_blue { color:#13639f;}
.right .rsel_green { color:#6aa504;}

.for_text_input { min-height:40px; position:relative; padding-left:130px; font-weight:bold;}
.for_text_input input { height:24px; width:260px; border:1px solid #cbcbcb; padding-left:5px; float:left;}
.for_text_input span { position:absolute; left:0px; top:5px; font-size:1.167em;}
.for_text_input .corectly { font-size:1.167em; color:#808080; position:relative; background: url(../../img/login_register_form/sl.png) no-repeat 0 -210px; padding-left:1em; margin-left:20px; float:left; margin-top:0.25em;}

.for_sel_line2 { position:relative; padding-left:250px; font-size:1.167em; padding-top:0.5em; padding-bottom:0.75em; font-weight:bold;}
.for_sel_line2 span { position:absolute; left:0px; top:10px;}
.for_sel_line2.sel_fix_w select { width:180px;}

.rg_radio {margin: 0 0.286em 0 0; position: relative; top: 3px;}
.for_radio_line {position:relative; padding-left:130px; font-size:1.167em; padding-top:0.5em; padding-bottom:1em;}

.for_radio_line span { position:absolute; left:0px; top:7px;}

.for_radio_big { position:relative; padding-left:18px; font-size:1.167em; padding-bottom:1em; padding-right:1em; font-weight:bold;}
.for_radio_big small { display:block; font-size:0.883em; color:#818181;  font-weight:normal;}
.for_radio_big input { position:absolute; left:0; top:0px; margin:0; padding:0;}
*+html .for_radio_big input { top:-3px;}

.i_subscriber { border:1px solid #dddcd8; margin-left:-15px; padding-left:15px; margin-right:15px;}

.buttons_social { padding-left:1%; padding-top:2em; overflow:hidden;}
.buttons_social_item { width:33%; float:left; padding-bottom:1.5em;}
.buttons_social_item a { display:block; height:37px; width:165px; background:url(../../img/login_register_form/sl_btn.png) no-repeat; font-size:0px; text-decoration:none;}
.buttons_social_item a.btn_01 { background-position:0 -183px;}
.buttons_social_item a.btn_02 { background-position:0 -222px;}
.buttons_social_item a.btn_03 { background-position:0 -261px;}
.buttons_social_item a.btn_04 { background-position:0 -302px;}
.buttons_social_item a.btn_05 { background-position:0 -339px;}
.buttons_social_item a.btn_06 { background-position:0 -378px;}

.reg_iphone { min-width:1000px; margin-left:60px; margin-right:60px;}
.reg_iphone h1 { padding-top:2em; padding-bottom:1.25em;}
.reg_iphone .iph_black_block { background:#000; border-radius:15px; color:#fff; padding-left:45px; margin-left:-45px; position:relative; min-height:130px;}
.reg_iphone .iph_black_block h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.833em; font-weight:bold; padding:1.25em 0 0 0;}
.reg_iphone .iph_black_block p { font-size:1.167em; padding:1em 0 1em 0;}
.reg_iphone .img_iph { display:block; width:52px; height:118px; position:absolute; left:-15px; top:6px; background:url(../../img/login_register_form/img_iphone.png) no-repeat;}

.reg_iphone h3 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.833em; color:#636363; padding:1.5em 0 1em 0;}
.iph_block_three_item { float:left; width:33.3%;}
.iph_block_three .iph_block_three_item h4 { color:#737373; font-size:1.167em; font-weight:bold; padding:0.75em 0 0.75em 0;}
.iph_block_three ul { list-style:none;}
.iph_block_three ul li { padding-bottom:0.75em; font-size:1.167em; color:#2b2b2b;}

.confirm_mail { padding-left:2em;}
.confirm_mail p { font-size:1.167em; padding:1em;}
.confirm_mail .confimr_mail_inp { padding-left:1em;}
.confirm_mail .confimr_mail_inp input { height:24px; border:1px solid #cbcbcb; font-size:1.167em; color:#636363;}
.reg_next_btn { padding-left:1%; padding-top:5em;}
.descr_black_p { line-height:1.25em; padding-right:5em !important; color:#000 !important;}

.social_accept { padding:1.25em;}
.social_accept img { float:left;}
.social_accept p { padding:0.5em; line-height:1.5em; overflow:hidden;}
.button_gray_03 { background:url(../../img/login_register_form/sl_btn.png) 0 -120px; display:inline-block; height:22px; font-size:1.167em; color:#6f6f6f; text-decoration:none; line-height:22px; font-weight:bold; border-radius:13px; padding:0 0.5em 0 0.5em; border:2px solid #d9d9d9;}

.rg_news { font-size:1.167em; padding:0.25em 0 1em; color:#636363;}
.rg_news input {position: relative; top: 2px; margin: 0 0.5em 0 0;}

/* arrow box */

.arrow_box { position: relative; background: #ffffcc; border: 1px solid #666666; } 
.arrow_box:after, .arrow_box:before { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.arrow_box:after { border-right-color: #ffffcc; border-width: 7px; top: 50%; margin-top: -7px; } 
.arrow_box:before { border-right-color: #666666; border-width: 8px; top: 50%; margin-top: -8px; }

.box_bg h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.833em; padding:0.5em 0 0.5em 0; line-height:1.1em;}

.pswd_attention {display: none; font-size: 13px;position: absolute;width: 285px; margin: 6px 0 0 25px;}
.icon_attention {background:url(../../img/login_register_form/attention.png); width: 16px; height: 18px; display: inline-block; vertical-align: middle;margin: 0 5px 1px 0;}


/* new redesign */
/* ! login registration */


.logreg .popup_register, #loginForm .popup_register {left: auto; top: 70px; position: fixed; right: 139px;}
.logreg .rg_nav, #loginForm .rg_nav {height: 55px; background: #eaeaea; border-bottom: 1px solid #bebebe; position: relative; border-radius: 0;}

#loginForm .rg_nav .rg_active_nav a, #loginForm .rg_nav .rg_active_nav:hover a {cursor: default;     color: #202020; }
#loginForm .rg_nav .rg_active_nav,  #loginForm .rg_nav .rg_active_nav:hover {
    background: #fff;
    border-bottom-color: #fff;
}
.rg_nav li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    height: 55px;
    line-height: 55px;
    text-align: center;
    padding: 0 30px;
    text-decoration: none;
    color: #202020;
    font-weight: lighter;
    background: #f5f5f5;
    border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}
#loginForm .rg_nav li a{ text-decoration: none; cursor: default; color: #202020;font-family: 'Open Sans', sans-serif; font-size: 13px;}
.rg_nav li.rg_active_nav {border-right: 1px solid #bebebe; height: 55px;}
#loginForm .rg_nav a:hover { color: #59adeb; cursor: pointer;}
.rg_block_options { position: relative; padding: 35px 30px 40px 30px; text-align: center;}
#loginForm .rg_forms{padding: 0 30px 0 0; width: 310px; border-right: 1px solid #dedede;}
#loginForm .subscribe_reg .rg_forms {padding: 0 30px 0 0; width: 270px; border-right: 1px solid #dedede;}
#loginForm .rg_input_text {background: #f5f5f5;border: 1px solid #bebebe; display: block; max-width: 300px; margin: 0 auto; height: 35px; width: 100%; margin-top: 5px; text-indent: 10px;}
#loginForm #arfemail.rg_input_text { max-width: 280px; }
.logreg_submit { font-size: 18px !important; padding-left: 45px; padding-right: 45px; height: 29px; line-height: 29px; cursor: pointer; }
.rg_for_input a.forgot_pass {display: inline-block; margin: 15px;}
.chk {vertical-align: middle;margin-right: 5px;}
.logreg .js_tap_panel_checkbox .chk {vertical-align: top; margin-right: 5px;}

#all.member #js_tab_reg {right: 3px; position: relative; }
#all.member #js_tab_reg.rg_active_nav.rg_first_nav {right: 0px;}

input#confirm_code {background: #f5f5f5;border: 1px solid #bebebe;display: block; max-width: 300px;margin: 0 auto;height: 35px;width: 100%;margin-top: 5px;text-indent: 10px;}

#js_tap_panel_auth.confirm_email .rg_forms {width: auto; border: 0; padding: 0;}

/* for mobile */
@media (max-width: 1218px) and (min-width: 918px) {
    #loginForm .popup_register, .wl75 #loginForm .popup_register {
        right:90px;
    }
}
@media (max-width: 917px) and (min-width: 768px) {
    #loginForm .popup_register, .wl75 #loginForm .popup_register {
        right:75px;
    }
}
@media (max-width: 767px)  {
    #loginForm .popup_register, .wl75 #loginForm .popup_register {
        top: 55px;
        width: 400px;
        height: auto;
        right: 4px;
    }
    .usermenu_link-1 {
        margin-right:0!important;
    }
}
@media (max-width: 425px)  {
    #loginForm .popup_register, .wl75 #loginForm .popup_register { width:100%;    }
    .rg_for_input.input-alien   {     padding: 0; float: left; }
    .rg_for_input.input-alien .forgot_pass   {      margin: 15px 10px; }
}

@media (max-width: 750px) {
    .rg_block_options {padding: 10px; margin: 0;}
    dt#js_tap_panel_auth .rg_soc {  float: none; width: 100%; margin-top: 5px;border-bottom: 1px solid #dedede;}
    dt#js_tap_panel_auth .rg_soc a { margin:0;}
    #loginForm .rg_input_text {width: 90%;}
    .rg_text_inner {  margin-top: 15px!important;}
    #loginForm .rg_forms  {width: 100%;padding: 0;border:0;}
}

@media (max-height: 600px) and (max-width: 750px) {
    .blockMsg #loginForm .popup_register, .wl75 #loginForm .popup_register {
        position: absolute;
        top: 0px;
    }

}
@media (max-height: 600px) and (min-width: 751px) {
    .blockMsg #loginForm .popup_register, .wl75 .blockMsg #loginForm .popup_register {
        position: absolute;
    }
    .blockUI.blockOverlay  {
        z-index: 448!important;
    }
    .blockUI.blockMsg.blockPage {
        position: static!important;
    }
}


/*.wl75 #loginForm .popup_register {  top: 0px; left: 0;width: 100%; height:100%;  position: relative;    overflow: auto;}*/
.wl75 #loginForm .rg_block_options {padding: 10px; margin: 0;}
.wl75 dt#js_tap_panel_auth .rg_soc {  float: none; width: 100%; margin-top: 5px;border-bottom: 1px solid #dedede;}
.wl75 dt#js_tap_panel_auth .rg_soc a { margin:0;}
.wl75 #loginForm .rg_input_text {width: 90%;}
.wl75 #loginForm .rg_text_inner {  margin-top: 15px!important;}
.wl75 #loginForm .rg_forms  {width: 100%;padding: 0;border:0;}
.wl75 #loginForm .pswd_attention  {margin: 5px;}
.wl75 #loginForm .rg_nav, .wl75 #loginForm .rg_nav li {border:0;}
.wl75 #loginForm .rg_nav li {background: #eaeaea;}
.wl75 #loginForm .rg_nav li.rg_active_nav {background: #ffffff;}
.wl75 #loginForm .social_reg {float: none; width: 100%; margin-top: 5px;  border-bottom: 1px solid #dedede;}
.wl75 #loginForm .subscribe_reg {  margin-top: 20px;}

/*.w7590 #loginForm .popup_register,
.w9012 #loginForm .popup_register {right:0;}*/
.w9012 .group_sends.group_sends-images { width: 100%; }